{
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./ui/component",
          "expose": "Component"
        },
        {
          "src": "./ui/module",
          "expose": "Module"
        },
        {
          "src": "./ui/partial",
          "expose": "Partial"
        },
        {
          "src": "./ui/reducer",
          "expose": "Reducer"
        },
        {
          "src": "./ui/service",
          "expose": "Service"
        },
        {
          "src": "./ui/style",
          "expose": "Style"
        },
        {
          "src": "./ui/view",
          "expose": "View"
        }
      ]
    ]
  ]
}
