<!DOCTYPE html>
<html>
  <head>
    <title>Phae-Kit Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/scripts/demo.min.css"/>
  </head>

  <body>
    <div id="application"></div>
  </body>

  <script src="/scripts/demo.min.js"></script>
</html>
