<!DOCTYPE html>
<html>
  <head>
    <title>Preview Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>

  <body>
    <h1>Preview Index</h1>
    <a href="http://localhost:8080/module/profile/">Profile</a><br />
  </body>
</html>
