@import '../theme.config';
@import '../value.config';

// ----- ----- ----- ----- //
// -----   Palette   ----- //
// ----- ----- ----- ----- //

@function palette-color ($palette-name, $color-name) {
  @return map-get(map-get($color-palettes, $palette-name), $color-name);
}

@function color($area, $use) {
  $color-description-list: map-get(
    map-get($theme-colors, $area),
    $use
  );

  $color-palette-name: nth($color-description-list, 1);
  $color-palette-item: nth($color-description-list, 2);

  @return palette-color($color-palette-name, $color-palette-item);
}
