@import '../../../imports';

.field-base {
  background-color: color(field, background);
  display: flex;
  height: 40px;
  position: relative;
  width: 100%;

  $transitionTime: 0.3s;
  $transitionType: ease-in-out;


  &:not(:last-child) {
    margin-bottom: 1px;
  }

  label {
    color: color(field, forground);
    font-size: 18px;
    height: 24px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    width: 60px;
    white-space: nowrap;

    &.text-xs {
      font-size: x-small;
    }

    &.text-sm {
      font-size: small;
    }

    &.text-md {
      font-size: medium;
    }
  }

  .overlay {
    bottom: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    padding-right: 16px;
    position: relative;

    $prefixWidth: 8; // no Unit as we will do some math with it for placement.

    .prefix, .suffix {
      display: inline-block;
      height: 24px;
      margin-top: 12px;
      padding-left: 4px;
      padding-right: 4px;
      position: absolute;
      width: $prefixWidth + unquote('px');
    }

    suffix {
      right: 0;
    }

    input {
      background: none;
      border: 0;
      color: color(field, forground);
      display: inline-flex;
      flex: 1;
      font-size: 18px;
      height: 24px;
      margin-left: $prefixWidth + $prefixWidth + unquote('px');
      margin-right: $prefixWidth + $prefixWidth + unquote('px');
      margin-top: 8px;
      padding-right: 16px;
      transition: margin $transitionTime $transitionType;

      &:focus {
        outline: none;
      }

      &.text-xs {
        font-size: x-small;
      }

      &.text-sm {
        font-size: small;
      }

      &.text-md {
        font-size: medium;
      }
    }

    .error-message {
      color: color(field, error);
      font-size: 14px;
      left: $prefixWidth + $prefixWidth + unquote('px');
      max-width: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 0;
      transition: opacity $transitionTime $transitionType;
      white-space: nowrap;
    }
  }

  &.submitting {
    .overlay {
      background-color: color(field, overlay);
    }
  }

  &.invalid {
    input {
      margin-top: 12px;
    }

    .error-message {
      opacity: 1;
    }
  }

  &.disabled {
    input {
      //border-bottom-color: color(field, border);
    }
  }

  &.required {
    label::before {
      background-color: color(field, required);
      border-radius: 16px;
      content: '';
      height: 4px;
      left: 4px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
    }
  }
}
