.headline-card-carousel {
  background-color: grey;
  height: 300px;

  position: relative;
  width: 100%;

  &.opening-animation {
    .headline-card-carousel-content-card {
      transition: left 1s;

      @for $i from 1 through 10 {
        &[data-col="#{$i}"] {
          transition-delay: #{$i / 10 }s;
        }
      }
    }
  }

  .headline-card-carousel-content-card {
    // assumed that it is either 1 wide and 1 tall if it isn't 2

    background-color: tan;
    height: 150px;
    position: absolute;
    width: 150px;


    &[data-cell-width="2"] {
      width: 300px;
    }
    &[data-cell-height="2"] {
      height: 300px;
    }
  }
}
