@import '../../imports';

.duration-clock {
  svg {
    width: 256px;

    .timer-hand {
      transform-origin: 50% 100%;
      // The initial `transform: rotate(#deg);` must be applied at draw time
      // This allows the timer to look like it has been running we reloaded
    }

    .second-hand {
      stroke: color(timer, second-hand);
      stroke-width: 2px;
    }

    .minute-hand {
      stroke: color(timer, minute-hand);
      stroke-width: 4px;
    }

    .tick {
      stroke: color(timer, face-line);
      stroke-width: 4px;
      transform-origin: 50% 1000%;
    }
  }

  &.started svg .timer-hand {
    transform: rotate(0deg);
  }
}
