@import '../../style/imports';

.container-collapsible {

  .title {
    @include typeset(label);
    margin-left: 16px;
  }

  .content {
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
    }
  }
}
