@import '../../style/imports';

.overlay-message {
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;

  .backdrop {
    @include backdrop();
    background-color: color(modal, backdrop);
    opacity: 0.75;
  }

  .message {
    @include anchorCenter();
    @include originCenter();
    color: color(modal, warning);
    position: absolute;
    z-index: 1200;
  }
}
